<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Widget-Sample.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<true/>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>1613C91B14838EA2B36AB65682B0211301F2D4A1</string>
				<key>dateExpires</key>
				<string>6/7/21</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1613C91B14838EA2B36AB65682B0211301F2D4A1</string>
						<key>dateExpires</key>
						<string>6/7/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>AJLMAG95WU.me.toghyiani.alireza.Widget-Sample.emoji-widget</string>
						<key>beta-reports-active</key>
						<true/>
						<key>com.apple.developer.team-identifier</key>
						<string>AJLMAG95WU</string>
						<key>com.apple.security.application-groups</key>
						<array>
							<string>group.me.toghyiani.alireza.Widget-Sample</string>
						</array>
						<key>get-task-allow</key>
						<false/>
					</dict>
					<key>name</key>
					<string>emoji-widgetExtension.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>4e8f8a73-55c9-4683-9fb9-ca77f736cdac</string>
						<key>name</key>
						<string>iOS Team Store Provisioning Profile: me.toghyiani.alireza.Widget-Sample.emoji-widget</string>
					</dict>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AJLMAG95WU</string>
						<key>name</key>
						<string>Aref Tarrah</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>AJLMAG95WU.me.toghyiani.alireza.Widget-Sample</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>AJLMAG95WU</string>
				<key>com.apple.security.application-groups</key>
				<array>
					<string>group.me.toghyiani.alireza.Widget-Sample</string>
				</array>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Widget-Sample.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>10200a96-398a-43af-8a4e-27e2a2046078</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: me.toghyiani.alireza.Widget-Sample</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>AJLMAG95WU</string>
				<key>name</key>
				<string>Aref Tarrah</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
